
.about-section {
  background-color: $dark;
  height: auto;
  padding: 25px;
  margin-bottom: 50px;
}
.about-banner__content {
  h1 {
    color: $primary;
    font-size: 3rem;
  }
  ul {
    display: flex;
  }
  li {
    margin: 5px;
    color: $color-white;
  }
}