@import "variables";

/* portfolio */
.portfolio-title__container {
  text-align: center;
  padding-bottom: 50px;
  h3 {
    color: $primary;
  }
  h2 {
    color: $color-white;
  }
}
.portfolioCards {
  img {
    width: 100%;
  }
}
.portfolioContent {
  max-width: 300px;
  background-color: $color-white;
  padding: 10px;
  margin: 15px;
}

.portfolioContent_titulo{
  color: #fff;
  background-color: $primary;
  padding: 5px;
  font-size: 1.5em;
  text-align: center;
}

.portfolio-cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.form-check .form-check-input {
  margin-left: 5px;
}

.ImageCol {
  animation-timing-function: ease;
  transition-duration: 0.5s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

/* ----- -----  Estilos para Validacion ----- ----- */
/* .formulario__grupo-correcto  {
	color: #1ed12d;
	opacity: 1;
} */

.formulario__grupo-correcto .formulario__label {
	color: #1ed12d;
}

.formulario__grupo-correcto  .formulario__input{
  border: 3px solid #1ed12d;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

/* .formulario__grupo-incorrecto {
	color: #bb2929;
	opacity: 1;
} */

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}

.container-section{
  p{
    color: white;
  }
}
/* end portfolio */